# Basic Pandas Operations

Pandas stands for panel data and is the core library for data manipulation and data analysis. It consist of single and multi-dimensional data structures for data manupulation.

In [2]:
# import pandas
import pandas as pd

# Pandas Series Object

In [3]:
# Series object is one-dimensional labeled array

s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# Changing index

s1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# Series object from dictionary

s1 = pd.Series({'a':10, 'b':20, 'c':30})
s1

a    10
b    20
c    30
dtype: int64

In [9]:
type(s1)

pandas.core.series.Series

In [25]:
# Changin index position

s1 = pd.Series({'a':10, 'b':20, 'c':30}, index=['b', 'c', 'd', 'a'])
s1

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

# Extracting  Individual Element

In [28]:
# Extracting a single element

s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

4

In [29]:
# Extracting a sequence of element

s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [30]:
# Extracting element from back

s1[-3:]

6    7
7    8
8    9
dtype: int64

# Basic Math Operations On Series

In [31]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])

In [32]:
s1 + s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [33]:
s1 + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [34]:
s1 - 5

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int64

In [35]:
s1 * 5

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [36]:
s1 / 10

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

# Pandas Dataframe

Dataframe is a 2 - dimensional labelled data structure. A dataframe comprises of rows and columns

In [37]:
# Creating a dataframe

pd.DataFrame({"Name": ["Swagger", "Jay", "Alen"], "Marks": ["85", "80", "95"]})

      Name Marks
0  Swagger    85
1      Jay    80
2     Alen    95

# Dtaframe In-built Functions

In [38]:
# Import and read csv file

iris = pd.read_csv("iris.csv")

In [39]:
# Head -> show first 5 rows

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [40]:
# Tail -> show last 5 rows

iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [42]:
# Shape -> number of rows and cols know

iris.shape

(150, 5)

In [43]:
# Describe -> show general information about dataframe

iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# .iloc[]

In [47]:
# .iloc[startindex:endindex, startcol:endcol]

iris.iloc[5:11, 2:]

    petal_length  petal_width species
5            1.7          0.4  setosa
6            1.4          0.3  setosa
7            1.5          0.2  setosa
8            1.4          0.2  setosa
9            1.5          0.1  setosa
10           1.5          0.2  setosa

# .loc[]

In [48]:
# .loc[startindex:endindex, ("specified col name", "specified col name")]

iris.loc[1:10, ("petal_length", "species")]

    petal_length species
1            1.4  setosa
2            1.3  setosa
3            1.5  setosa
4            1.4  setosa
5            1.7  setosa
6            1.4  setosa
7            1.5  setosa
8            1.4  setosa
9            1.5  setosa
10           1.5  setosa

# Dropping  Colums

In [49]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [50]:
# axis = 1 for drop col

iris.drop("species", axis = 1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
14            5.8          4.0           1.2          0.2
15            5.7          4.4           1.5          0.4
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# Dropping Rows

In [51]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
# axis = 0 for dorp row

iris.drop([5,6,7], axis = 0)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
30            4.8          3.1           1.6          0.2     setosa
31            5.4          3.4           1.5          0.4     setosa
32            5.2          4.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

# Pandas Function

In [53]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [54]:
# Mean -> get mean value from the table column

iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [55]:
# Min -> get min value from the table column

iris.min()

sepal_length    4.3
sepal_width       2
petal_length      1
petal_width     0.1
species          se
dtype: object

In [56]:
# Max -> get max value from the table column

iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [57]:
# Median -> get median value from the table column

iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [59]:
def double_make(s):
    return s * 2

In [60]:
iris[["sepal_width", "petal_width"]].apply(double_make)

     sepal_width  petal_width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
5            7.8          0.8
6            6.8          0.6
7            6.8          0.4
8            5.8          0.4
9            6.2          0.2
10           7.4          0.4
11           6.8          0.4
12           6.0          0.2
13           6.0          0.2
14           8.0          0.4
15           8.8          0.8
16           7.8          0.8
17           7.0          0.6
18           7.6          0.6
19           7.6          0.6
20           6.8          0.4
21           7.4          0.8
22           7.2          0.4
23           6.6          1.0
24           6.8          0.4
25           6.0          0.4
26           6.8          0.8
27           7.0          0.4
28           6.8          0.4
29           6.4          0.4
..           ...          ...
120          6.4          4.6
121          5.6          4.0
122          5.6          4.0
123          5.4          3.6
124          6.6          4.2
125          6.4          3.6
126          5.6          3.6
127          6.0          3.6
128          5.6          4.2
129          6.0          3.2
130          5.6          3.8
131          7.6          4.0
132          5.6          4.4
133          5.6          3.0
134          5.2          2.8
135          6.0          4.6
136          6.8          4.8
137          6.2          3.6
138          6.0          3.6
139          6.2          4.2
140          6.2          4.8
141          6.2          4.6
142          5.4          3.8
143          6.4          4.6
144          6.6          5.0
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [61]:
# value counts

iris["species"].value_counts()

virginica     50
versicolor    50
setosa        49
se             1
Name: species, dtype: int64

In [62]:
# sort values

iris.sort_values(by = "petal_width")

     sepal_length  sepal_width  petal_length  petal_width    species
32            5.2          4.1           1.5          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
12            4.8          3.0           1.4          0.1     setosa
34            4.9          3.1           1.5          0.1     setosa
0             5.1          3.5           1.4          0.2         se
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
30            4.8          3.1           1.6          0.2     setosa
33            5.5          4.2           1.4          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
39            5.1          3.4           1.5          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
46            5.1          3.8           1.6          0.2     setosa
47            4.6          3.2           1.4          0.2     setosa
48            5.3          3.7           1.5          0.2     setosa
49            5.0          3.3           1.4          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
24            4.8          3.4           1.9          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
10            5.4          3.7           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
111           6.4          2.7           5.3          1.9  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
147           6.5          3.0           5.2          2.0  virginica
113           5.7          2.5           5.0          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
110           6.5          3.2           5.1          2.0  virginica
139           6.9          3.1           5.4          2.1  virginica
102           7.1          3.0           5.9          2.1  virginica
112           6.8          3.0           5.5          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
124           6.7          3.3           5.7          2.1  virginica
128           6.4          2.8           5.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
132           6.4          2.8           5.6          2.2  virginica
104           6.5          3.0           5.8          2.2  virginica
120           6.9          3.2           5.7          2.3  virginica
115           6.4          3.2           5.3          2.3  virginica
148           6.2          3.4           5.4          2.3  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
145           6.7          3.0           5.2          2.3  virginica
118           7.7          2.6           6.9          2.3  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
140           6.7          3.1           5.6          2.4  virginica
114           5.8          2.8           5.1          2.4  virginica
100           6.3          3.3           6.0          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica

[150 rows x 5 columns]